.authen-template {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.authen-template_form {
  width: 30%;
  height: 100vh;
  display: flex;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.8s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 2;
    transform: translateY(0);
  }
}
.authen-template_image {
  width: 70%;
  height: 100%;
  background-image: url("/images/background_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Responsive cho màn hình nhỏ hoặc khi chia đôi */
@media (max-width: 900px) {
  .authen-template_image {
    display: none;
  }
  .authen-template_form {
    width: 100vw !important;
    min-width: 0 !important;
  }
}
